@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
	margin: 0;
	padding: 0;

	font-family: "Poppins", sans-serif;
}

body {
	min-height: 100vh;
	background-image: url('../assets/home_background.jpg');
    background-size: cover;
	align-items: center;
	justify-content: center;
}

.container h2 {
	color: #100f10;
	font-size: 1.5em;
	position: relative;
	text-transform: uppercase;
	-webkit-text-stroke: 0.3vw #f7f7fe;
}

.container h2::before {
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	color: #37b9f1;
	overflow: hidden;
	position: absolute;
	content: attr(data-text);
	border-right: 2px solid #37b9f1;
	-webkit-text-stroke: 0vw #f7f7fe;
	animation: animate 6s linear infinite;
}

@keyframes animate {
	0%,
	10%,
	100% {
		width: 0;
	}

	70%,
	90% {
		width: 100%;
	}
}

.container .heading-box {
    width: fit-content;
	margin: auto;
}

.container{
    background-color: rgba(76,74,71,0.4);
    display: block;
    margin: 2em auto;
    width: 30%;
    padding: 5em 2.5em;
    border-radius: 0.25em;
}

.container a{
    background-color: yellow;
    width: fit-content;
    margin: 2em auto;
    display: block;
    letter-spacing: 0.2em;
    text-decoration: none;
    color: black;
    border-radius: 0.5em;
    padding: 0.5em 2em;
    position: relative;
}

section{
	margin-top: 10em;
}

/* nav bar CSS */

.navbar {
	overflow: hidden;
	background-color: #333;
  }
  
  .navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  .dropdown {
	float: right;
	overflow: hidden;
	margin-right: 5em;
  }
  
  .dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
	background-color: rgb(43, 39, 39);
  }
  

  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  .dropdown-content a:hover {
	background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }

  .sign-in{
	  display: none;
  }

  .sign-out{
	  visibility: visible;
  }

  .navbar .sign-out a{
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	float:right;
  }

  #dialog-box{
	  display: none;
	  position: fixed;
	  z-index: 1; /* Sit on top */
	  padding-top: 100px; /* Location of the box */
	  left: 0;
	  top: 0;
	  width: 100%; /* Full width */
	  height: 100%; /* Full height */
	  overflow: auto; /* Enable scroll if needed */
	  background-color: rgb(0,0,0); /* Fallback color */
	  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .dialog-box-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
  }

  /* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  

  .room-container{
	  display: none;
	  background-color: rgb(247, 241, 241);
	  max-width: 600px;
	  margin: 10px auto;
	  border-radius: 0.5em;
  }

  .room-ul{
	  list-style-type: none;
	  /* padding: 5px; */
  }

  .room-ul-li{
	  padding: 1em 2em;
	  border-top: solid black 2px;
	  
  }

  .room-ul-li span{
	color: #4183c4;
	font-size: 1.28571429em;
  }

  .room-ul-button{
	  text-decoration: none;
	  padding: 5px 10px;
	  float: right;
	  margin-left: 10px;
	  border-radius: 10px;
	  color: white;
  }

  .cursor-pointer{
	  cursor: pointer;
  }


  